<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="FirewallException" Guid="e3419965-728b-4a55-9a84-75467389f471" KeyPath="yes">
        <fw:FirewallException
          Id="VoxelProxyMsiRule"
          Name="VoxelProxy"
          File="Path" Scope="any"
          IgnoreFailure="yes"
        />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>