name: Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --release

      - name: Change Icon
        run: curl -L -O https://github.com/electron/rcedit/releases/download/v1.1.1/rcedit-x64.exe && ./rcedit-x64.exe target/release/voxelproxy.exe --set-icon voxelproxy.ico

      - uses: actions/upload-artifact@v4
        with:
          name: voxelproxy
          path: target/release/voxelproxy.exe
